<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysRoleDao">
	<!-- sql元素用于对其它元素中的共性进行提取,其它元素用到此元素内容,可以使用include元素进行包含 -->
	<sql id="queryWhereId">
		<where>
			<if test="name!=null and name!=''">
				name like concat("%",#{name},"%")
			</if>
		</where>
	</sql>
	
	<!-- 按条件查询记录总数 -->
	<select id="getRowCount" resultType="int">
		select count(*) from sys_roles
		<include refid="queryWhereId"/>
	</select>
	
	<!-- 查询当前页记录 -->
	<select id="findPageObjects" resultType="com.cy.pj.sys.entity.SysRole">
		select * from sys_roles
		<include refid="queryWhereId"/>
		order by createdTime desc limit #{startIndex},#{pageSize}
	</select>
	
	<!-- 基于角色id删除数据 -->
	<delete id="deleteObjectsByRoleId">
		delete from sys_roles where id=#{roleId}
	</delete>
	
	<!-- 基于角色id查询数据 -->
	<select id="findObjectById" resultType="com.cy.pj.sys.entity.SysRole">
		select * from sys_roles where id=#{id}
	</select>
	
	<!-- 新建数据 -->
	<insert id="saveObject">
		insert sys_roles
		(name,note,createdTime,modifiedTime,createdUser,modifiedUser)
		value (#{name},#{note},#{createdTime},#{modifiedTime},#{createdUser},#{modifiedUser})
	</insert>
	
	<!-- 基于角色id更新数据 -->
	<update id="updateObjectById">
		update sys_roles set
		name=#{name},note={note},createdTime=#{createdTime},modifiedTime=#{modifiedTime},createdUser=#{createdUser},modifiedUser=#{modifiedUser}
		where id=#{id}
	</update>
	
</mapper>