<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysRoleDao">
	<!-- sql元素用于对其它元素中的共性进行提取,其它元素用到此元素内容,可以使用include元素进行包含 -->
	<sql id="queryWhereId">
		<where>
			<if test="name!=null and name!=''">
				name like concat("%",#{name},"%")
			</if>
		</where>
	</sql>
	
	<!-- 按条件查询记录总数 -->
	<select id="getRowCount" resultType="int">
		select count(*) from sys_roles
		<include refid="queryWhereId"/>
	</select>
	
	<!-- 查询当前页记录 -->
	<select id="findPageObjects" resultType="com.cy.pj.sys.entity.SysRole">
		select * from sys_roles
		<include refid="queryWhereId"/>
		order by createdTime desc limit #{startIndex},#{pageSize}
	</select>
	
	<!-- 基于角色id删除数据 -->
	<delete id="deleteObjectsByRoleId">
		delete from sys_roles where id=#{roleId}
	</delete>
	
	<!-- resultMap一般用于自定义映射或一些关联查询中 -->
	<resultMap type="com.cy.pj.sys.vo.SysRoleMenuVo" id="sysRoleMenuVo">
		<collection property="menuIds" select="com.cy.pj.sys.dao.SysRoleMenuDao.findMenuIdsByRoleId" column="id"></collection>
	</resultMap>
	
	<!-- 基于角色id查询数据 -->
	<select id="findObjectById" resultMap="sysRoleMenuVo">
		select id,name,note from sys_roles where id=#{id}
	</select>

	
	<!-- 新建数据 -->
	<!-- 1)useGeneratedKeys表示最后要获取insert操作的主键值
		 2)keyProperty表示要将获取的主键值赋值给参数对象的哪属性
	 -->
	<insert id="saveObject" useGeneratedKeys="true" keyProperty="id">
		insert sys_roles
		(name,note,createdTime,modifiedTime,createdUser,modifiedUser)
		values(#{name},#{note},now(),now(),#{createdUser},#{modifiedUser})
	</insert>
	
	<!-- 基于角色id更新数据 -->
	<update id="updateObject">
		update sys_roles
		set name=#{name},
			note=#{note},
			modifiedTime=now(),
			modifiedUser=#{modifiedUser}
		where id=#{id}
	</update>
	
</mapper>