<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysUserDao">
	
	<!-- sql元素用于对其它元素中的共性进行提取,其它元素用到此元素内容,可以使用include元素进行包含 -->
	<sql id="queryWhereId">
		<where>
			<if test="username!=null and username!=''">
				username like concat("%",#{username},"%")
			</if>
		</where>
	</sql>

	<resultMap type="com.cy.pj.sys.vo.SysUserDeptVo" id="sysUserDeptVo">
		<!-- association一般用于many2one或one2one做关联查询 ,collection一般用于one2many-->
		<!-- 基于deptId(id="findPageObjects"查询所得)查询部门信息,并将其存储到SysUserDeptVo对象的sysDept属性中 -->
		<association property="sysDept" column="deptId" select="com.cy.pj.sys.dao.SysDeptDao.findObjects"></association>
	</resultMap>
	<!-- 查询当前页记录-->
	<select id="findPageObjects" resultMap="sysUserDeptVo">
		select * from sys_users
		<include refid="queryWhereId"/>
		order by createdTime desc limit #{startIndex},#{pageSize}
	</select>
	

	<!-- 按条件查询记录总数 -->	
	<select id="getRowCount" resultType="int">
		select count(*) from sys_logs
		<include refid="queryWhereId"/>
	</select>
	

</mapper>